{% extends "base.html" %}

{% block content %}
<div class="hero-unit">
	<h1>Hello, Uncloseted World!</h1>
	<p>Keep track of your closet. Make better use of the clothes you already own. Discover great new ones. Look super amazing. Be prepared for it all.</p>
	<p><a class="btn btn-primary btn-success btn-large" href="/signup">Sign up &raquo;</a>&nbsp; or &nbsp;<a class="btn btn-info btn-large" href="/login">Login &raquo;</a>&nbsp; or &nbsp;<a class="btn btn-info btn-large" href="/closet">View Closet &raquo;</a></p>
</div>

<div class="row">
	<div class="span4">
		<h2>Wake up stress-free</h2>
		<p>Now you never have to worry about what to wear in the morning. Simply pull up our outfit generator on your laptop, iPad, or iPhone, and put on the outfit algorithmically designed just for you.</p>
	</div>
	<div class="span4">
		<h2>Know what you have</h2>
		<p>Get ready to banish the worry of wondering "Do I already own this shirt?" when out shopping. Your entire closet is at your fingertips, wherever your retail excursions take you.</p>
	</div>
	<div class="span4">
		<h2>Look your best</h2>
		<p>Utilize your entire closet&mdash;even that old sweater at the bottom of your drawer. With the effort taken out of the process, maybe we can all look beyond the first few layers of clothes and find those old gems.</p>
	</div>
</div>
{% endblock %}
