{% extends "base.html" %}
{% load url from future %}

{% block title %}Password change{% endblock %}

{% block content %}
<div class="page-header">
	<h1>Password change</h1>
</div>

<div class="alert alert-info">
	Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.
</div>

<form class="form-horizontal" method="post" action="">
	{% csrf_token %}
	<div class="control-group{% if form.old_password.errors %} error{% endif %}">
		<label for="id_old_password" class="control-label">Old password:</label>
		<div class="controls">
			{{ form.old_password }}
			{% if form.old_password.errors %}<span class="help-inline">{{form.old_password.errors|first}}</span>{% endif %}
		</div>
	</div>
	<div class="control-group{% if form.new_password1.errors %} error{% endif %}">
		<label for="id_new_password1" class="control-label">New password:</label>
		<div class="controls">
			{{ form.new_password1 }}
			{% if form.new_password1.errors %}<span class="help-inline">{{form.new_password1.errors|first}}</span>{% endif %}
		</div>
	</div>
	<div class="control-group{% if form.new_password2.errors %} error{% endif %}">
		<label for="id_new_password2" class="control-label">Password (again):</label>
		<div class="controls">
			{{ form.new_password2 }}
			{% if form.new_password2.errors %}<span class="help-inline">{{form.new_password2.errors|first}}</span>{% endif %}
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn btn-primary">Change my password</button>
		</div>
	</div>
</form>
{% endblock %}

{% block js %}
<script> $(function(){ $('#id_old_password').focus(); }); </script>
{% endblock js %}
